div.panel-container
  div.value-container
    label.min-value(for="") min-value
    input.min-value(type="number")
  div.value-container
    label.max-value(for="") max-value
    input.max-value(type="number")
  div.value-container
    label.step-value(for="") step
    input.step-value(type="number")
  div.value-container
    label.initial-value(for="") initial value
    input.initial-value(type="number")
  div.value-container
    label.end-value(for="") end value
    input.end-value(type="number")
  div.value-container
    h2.vertical-display-text(for="") vertical display
    div.vertical-display
  div.value-container
    h2.one-meaning-text(for="") one meaning
    div.one-meaning
  div.value-container
    h2.no-meaning-text(for="") no meaning
    div.no-meaning